@import './reset.css';

:root {
  --font-family: 'Manrope', sans-serif;
  --font-weight-bold: 800;

  --font-size-400: 1.75rem;
  --font-size-300: 0.75rem;
  
  /* colors */
  --clr-primary-400: hsl(193, 38%, 86%);
  --clr-primary-500: hsl(150, 100%, 66%);
  --clr-neutral-400: hsl(217, 19%, 38%);
  --clr-neutral-500: hsl(217, 19%, 24%);
  --clr-neutral-600: hsl(218, 23%, 16%);

  /* react/vite */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-bold);
  background-color: var(--clr-neutral-600);
  color: #ffffff;
  line-height: 1.5;
}

.flex-col, .flex-col-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-align {
  align-items: center;
}

.card {
  --max-width: 33rem;
  --margin-inline: 1.5rem;

  width: min(var(--max-width), 100% - var(--margin-inline));
  background-color: var(--clr-neutral-500);
  margin-inline: auto;
  padding: 2.75rem 1rem;
  border-radius: 0.8rem;
  text-align: center;
}

.title {
  text-transform: uppercase;
  color: var(--clr-primary-500);
  font-size: var(--font-size-300);
  letter-spacing: 3px;
  margin-bottom: 1.25rem;
}

.advice {
  width: 28rem;
}

.img-wrapper {
  padding-block: 2.5rem 2.125rem;
}